html, body {
    height: 100%;
    background-color: #f7f7f7;
}

a {
    text-decoration: none;
    color: inherit;
}

#header {
    background-color: white;
    box-shadow: 0px 0px 15px 3px #cecece;
    border-bottom: 0.2em solid black;
    position: fixed;
    right: 0;
    left: 0;
}

#date-wrapper {
    padding-top: 1em;
    padding-bottom: 1.5em;
    text-align: center;
}

h1, h3, h4, footer, #week-wrapper, #content-wrapper {
    font-family: 'Lato', sans-serif;
}

h1, h4 {
    font-size: 3.5em;
    font-weight: 100;
}

h1 {
    letter-spacing: .1em;
}

h2 {
    font-family: 'Abril Fatface', cursive;
    font-size: 4em;
    line-height: .8em;
}

h3 {
    font-size: 7.5em;
}

#week-wrapper ul {
    display: flex;
    justify-content: space-around;
    font-weight: 100;
    font-size: 2.6em;
    padding-bottom: 0.3em;
}

#content-wrapper {
    padding-top: 23em;
    display: flex;
    justify-content: space-around;
    font-weight: 100;
    margin-bottom: 8em;
}

#content-wrapper ul li {
    width: 8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 0.2em;
    padding-top: 4em;
    border-bottom: 0.3em solid black;
}

footer {
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 15px 3px #cecece;
    border-top: 0.1em solid black;
    height: 3em;
    font-weight: 100;
    font-size: 1.3em;
}

footer ul {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 30%;
}

footer ul li {
    width: 8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 0.2em;
    border-bottom: 0.3em solid black;
}
