body {
  background-color: #F9F9F9;
}

#nav-1 {
  background-color: black;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav-1 img:hover {
  opacity: 0.8;
  transition-duration: 0.5s;
}

#nav-1 ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  width: 30vw;
}

#nav-2 {
  box-shadow:  0px 0px 15px -6px;
  background-color: white;
}

#nav-2 ul {
  display: flex;
  justify-content: space-around;
}

#nav-2 ul li {
  padding: 1.5vw;
}

#nav-2 ul li:hover {
  background-color: black;
  color: white;
  transition-duration: 0.3s;
}

#content-flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#shadow-wrapper {
  box-shadow:  0px 0px 15px -6px;
  margin-top: 5vw;

  width: 60vw;

  background-color: white;
}

#content-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

h1 {
  font-size: 3vw;
  padding: 2vw;
}

h2 {
  padding-top: 1vw;
  padding-bottom: .5vw;
  font-size: 2vw;
}

.element-wrapper p {
  font-size: 1vw;
  line-height: 1.3vw;
}

.element-wrapper {
  width: 25vw;
  padding: 1.5vw;

  box-shadow:  0px 0px 8px -6px;
  
  margin-bottom: 1vw;
}

.element-wrapper:hover .banner {
  opacity: 0.8;
  transition-duration: 0.5s;
}

.element-wrapper:hover {
  box-shadow:  0px 0px 13px -6px;
  transition-duration: 0.5s;
}

.banner {
  height: 10vw;
  background-color: black;
}

footer {
  background-color: white;
  margin-top: 5vw;

  box-shadow:  0px 0px 15px -6px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30vw;
}

footer ul li {
  padding: 1vw;
}

footer ul li:hover {
  background-color: black;
  color: white;
  transition-duration: 0.3s;
}

footer p {
  padding: 1vw;
}